@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Inter", sans-serif;
}

/* globals.css */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #525252 transparent; /* thumb color | track color */
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent; /* removes white background */
}

*::-webkit-scrollbar-thumb {
  background-color: #525252; /* dark gray thumb */
  border-radius: 9999px;
  border: 2px solid transparent; /* optional for spacing */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #737373; /* lighter gray on hover */
}

.social__left-items:after {
  background-color: #8892b0;
  content: "";
  display: block;
  height: 90px;
  margin: 0 auto;
  width: 1px;
}

.hero__image::after {
  border: 2px solid #01a2bb;
  left: 14px;
  top: 14px;
  z-index: -1;
  border-radius: 4px;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
